.shop {
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px auto;
}
.btn-proceed{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    font-size: 21px;
    border-radius: 4px;
    background: #FF9900;
    color: white;
    align-items: center;
}